* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
}

#title {
  padding: 20px;
  font-size: 3rem;
}

.flex-container {
  display: flex;
  width: 100%;
}

.recent-scores {
  width: 50%;
  padding: 0 5%;
}

.score-list {
  list-style-type: none;
  border: 2px solid #000;
}

#title-btn {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.form {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form > h2 {
  margin-bottom: 20px;
}

.form > input {
  width: 60%;
  margin: 10px 0;
  border: #000 solid 2px;
  padding: 4px;
}

.btn {
  width: fit-content;
}
